@charset "UTF-8";
/* Estilo para telas */

* {
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    background-color: lightgrey;
    padding: 10px;
}
menu {
    background-color: rgb(173, 172, 172);
}
ul {
    padding: 10px;
}
li {
    display: inline;
    padding: 5px;
    background-color: rgb(63, 63, 63);
    color: white;
}
article {
     max-width: 700px;
     margin: auto;
     
}