@charset "UTF-8";
body {
    background-image: linear-gradient(to right,#c2957be0,#FFCB9A);
    font-family: Arial, Helvetica, sans-serif;
}
main {
    background-color: white;
    border-radius: 2%;
    box-shadow: 5px 5px 20px #8b7057;
    width: 80%;
    padding: 20px;
    margin:auto
    
}
h1 {
    color: #7800db;
    text-align: center;
    text-shadow: 1px 1px 2px #370064a8;
}
h2 {
    color: #0F6466;
}
p {
    text-align: justify;
}